* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.card {
    width: 280px;
    background-color: aliceblue;
    text-align: center;
    border: 0px solid;
    
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.card-body button {
    margin-top: 10px;
}


